/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* top part */
.top-part {
    background-color: rgb(1, 1, 180);
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}
.banner-text p {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    margin-top: 121px;
    margin-left: 156px;
    /* margin-right: 102px; */
    margin-bottom: 27px;
}
.banner-text a:hover {
    color: #f8045e;
    background-color: orange;
    transition: 0.5s;
}
.banner-img img {
    width: 556.01px;
    height: 438px;
    margin-right: 140.99px;
    margin-top: 67px;
    margin-bottom: 86px;
}
.banner-text a {
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    margin-left: 156px;
}
/* players part */
.players-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin: auto;
}
.players {
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding-left: 15px;
    padding-top: 15px;
    margin-bottom: 27px;
}
.players img {
    width: 300px;
    height: 256px;
}
.players h2 {
    font-size: 28px;
    color: #18191F;
    font-weight: bold;
    line-height: 40px;
    margin-top: 16px;
}
.players p {
    color: #6C6C6C;
    font-size: 16px;
    line-height: 26px;
    margin-top: 10px;
}
/* form part */
.form-text {
    text-align: center;
    font-size: 30px;
    color: blue;
}
input {
    display: block;
    margin: auto;
    width: 200px;
    height: 30px;
    border-radius: 30px;
    border-color: blue;
}
.button {
    background-color: blue;
    font-size: 15px;
    font-weight: bold;
    color: white;
}
/* footer part */
.footer-logo img {
    width: 483.87px;
    height: 110px;
    display: block;
    margin: auto;
    margin-top: 158px;
    margin-bottom: 20px;
}
.social-links {
    display: flex;
    justify-content: center;
}
.links {
    margin-right: 14px;
}
.fa-basketball-ball, .fa-instagram, .fa-twitter, .fa-youtube {
    color: #969BAB;
    font-size: 20px;
}
.footer-text {
    color: #000000;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 63px;
}